<a href="https://colab.research.google.com/github/bhavikakalra085/Cognitive_Computing/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.1 WAP to print your name three times

In [1]:
for i in range(3):
  print("Bhavika")

Bhavika
Bhavika
Bhavika

2.1 WAP to add three numbers and print the result.

In [2]:
a=10
b=220
c=23
c=a+b
print(a,"+",b,"+",c,"=",a+b+c)

10 + 220 + 230 = 460

2.2 WAP to concatinate three strings and print the result.

In [3]:
a="blueberry"
b="cheese"
c="cake"
print(a+b+c)

blueberrycheesecake

4.1 WAP to print the table of 7, 9.

In [4]:
for i in range(1,11,1):
  print(7,"x",i,"=",7*i,"   ",9,"x",i,"=",9*i)
  print("\n")

7 x 1 = 7     9 x 1 = 9


7 x 2 = 14     9 x 2 = 18


7 x 3 = 21     9 x 3 = 27


7 x 4 = 28     9 x 4 = 36


7 x 5 = 35     9 x 5 = 45


7 x 6 = 42     9 x 6 = 54


7 x 7 = 49     9 x 7 = 63


7 x 8 = 56     9 x 8 = 72


7 x 9 = 63     9 x 9 = 81


7 x 10 = 70     9 x 10 = 90

4.2 WAP to print the table of n and n is given by user.

In [5]:
n=int(input("enter any integer of your choice\n"))
for i in range(1,11,1):
   print(n,"x",i,"=",n*i)

enter any integer of your choice
8
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

4.3 WAP to add all the numbers from 1 to n and n is given by user.

In [6]:
n=int(input("Enter a number\n"))
sum=0
for i in range(1,n+1,1):
  sum=sum+i
print(sum)

Enter a number
5
15

5.1 WAP to find max amoung three numbers and input from user. [Try max() function]

In [7]:
a=int(input("enter first number\n"))
b=int(input("enter second number\n"))
c=int(input("enter third number\n"))
max_no=max(a,b,c)
print("max= ",max_no)

enter first number
5
enter second number
7
enter third number
8
max=  8

5.2 WAP to add all numbers divisible by 7 and 9 from 1 to n and n is given by the user.

In [8]:
n=int(input("enter first number\n"))
sum=0;
for i in range(1,n+1,1):
  if(i%7==0 and i%9==0):
    sum=sum+i
print(sum)

enter first number
5
0

5.3 WAP to add all prime numbers from 1 to n and n is given by the user.

In [9]:
n = int(input("Enter a No: "))
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

for i in range(2, n + 1):
    if is_prime(i):
        sum += i

print(sum)

Enter a No: 5
10

6.1 WAP using function that add all odd numbers from 1 to n, n is given by the user.

In [10]:
n=int(input("enter first number\n"))
sum=0
for i in range(1,n+1,2):
  sum=sum+i
print(sum)

enter first number
5
9

6.2 WAP using function that add all prime numbers from 1 to n, n given by the user.

In [11]:
n = int(input("Enter a No: "))
sum = 0

def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n//2) + 1):
        if n % i == 0:
            return False
    return True

for i in range(2, n + 1):
    if is_prime(i):
        sum += i

print(sum)

Enter a No: 10
17